// Register Page Design

.Register {
  background-color: #062863;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .RegisterForm {
    background-color: rgb(255, 255, 255);
    width: max-content;
    padding: 50px 40px;
    border-radius: 10px 10px 10px 0;
    box-shadow: 0 0 3px grey;
    margin-top: 30px;

    .formHead {
      text-align: center;
      h3 {
        color: #083e9e;
      }
      p {
        color: #4a5568;
        font-size: 0.8rem;
        font-weight: light;
        margin: 7px 0 20px 0;
        word-spacing: 0.1rem;
      }
    }

    .inputSection {
      label {
        color: #4a5568;
        font-size: 0.8rem;
        font-weight: bold;
      }
      .classStyle {
        padding: 12px;
        width: 100%;
        background-color: opacify(whitesmoke, 1);
        border: 0 solid #e2e8f0;
        border-radius: 0.3rem;
        font-size: 1rem;
        margin: 10px 0 20px 0;
      }
    }
  }
}
