// Register Page Design

.Register {
  background-color: #062863;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .RegisterForm {
    background-color: rgb(255, 255, 255);
    width: fit-content;
    padding: 40px 40px;
    border-radius: 10px 10px 10px 0;
    shadow: 0 0 2px lightgrey;
    margin

    .formHead{

    }
  }
}
