// Register Page Design

.Register {
  background-color: #062863;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  //   overflow: hidden;

  .logo {
    margin: 50px 0 50px 0;
  }

  .RegisterForm {
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 10px 0;
    box-shadow: 0 0 3px grey;
    padding: 40px;

    @media screen and (min-width: 700px && max-width: ) {
      min-width: 700px;
      background-color: red;
    }

    .formHead {
      text-align: center;
      font-family: sans-serif;
      margin-bottom: 30px;
      h2 {
        color: #083e9e;
        font-weight: bold;
        margin-bottom: 10px;
      }
      p {
        color: #4a5568;
        font-weight: normal;
        font-size: 0.875rem;
        @media screen and (max-width: 540px) {
          width: 300px;
          margin: 0 auto;
        }
      }
    } // end of formHead

    .inputSection {
      label {
        color: #4a5568;
        font-size: 0.8rem;
        font-weight: bold;
      }
      .classStyle {
        background-color: #edf2f7;
        padding: 15px;
        border: 0 solid #e2e8f0;
        color: #1a202c;
        outline: none;
        width: 100%;
        margin: 10px 0 20px 0;
        font-size: large;

        &:after,
        &:before,
        &:active,
        &:focus {
          border: 0 solid #e2e8f0;
        }
      }
    }
  }
}
