// Register Page Design

.Register {
  background-color: #062863;
  height: ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  .RegisterForm {
    background-color: rgb(255, 255, 255);
    width: fit-content;
    padding: 40px 10px;
  }
}
