// Register Page Design

.Register {
  background-color: #062863;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .RegisterForm {
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 10px 0;
    box-shadow: 0 0 3px grey;
    margin-top: 30px;

    
    .formHead {
      text-align: center;
      h3 {
        color: #083e9e;
      }
      p {
        color: #4a5568;
      }
    }

    .inputSection {
      label {
        color: #4a5568;
        font-size: 0.8rem;
        font-weight: bold;
      }
      .classStyle {
        background-color: opacify(whitesmoke, 1);
     
      }
    }
  }
}
