// Register Page Design

.Register {
  background-color: #062863;
  display: flex;
  justify-content: center;
  
  .RegisterForm {
    background-color: rgb(255, 255, 255);
    width: fit-content;
    padding: 40px 10px;
  }
}
